# deps
node_modules/

# hardhat build output
artifacts/
cache/
coverage/
typechain/

# env/secrets
.env
.env.*
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# backups
*.bak

# deployments (keep base-sepolia.json tracked)
deployments/*
!deployments/base-sepolia.json
